<div v-if='history.length'>
    <table class='table table-condensed table-responsive header-fixed history'>
        <thead>
            <th>Server</th>
            <th>Date</th>
            <th>From</th>
            <th>To</th>
            <th>By</th>
        </thead>
        <tbody id='historyTable'>
            <tr v-for='h in history'>
                <td>{{ h.server.name }}</td>
                <td>{{ h.created_at }}</td>
                <td>{{ h.from_commit }}</td>
                <td>{{ h.to_commit }}</td>
                <td>{{ h.user_name }}</td>
            </tr>
        </tbody>
    </table>

    <div class="col-md-12 text-center">
        <ul class="pagination pagination-lg pager" id="histroyPager"></ul>
    </div>
</div>
<div v-else>
    Never been deployed
</div>

