<div>
    <!-- Nav Bar  -->
    <nav class="navbar navbar-default navbar-nocollapse" >
        <div class='navbar-center'>
            <ul class="nav navbar-nav">
                <li :class="{active: isActive('info')}">
                    <router-link :to='{name: "projects.info"}'>
                        <i class="fa fa-dashboard" aria-hidden="true"></i>
                        <span class='hidden-sm hidden-xs'>Overview</span>
                    </router-link>
                </li>

                <li :class="{disabled: status.cloning, active: isActive('servers')}">
                    <router-link :to='{name: "projects.servers"}'>
                        <i class="fa fa-server" aria-hidden="true"></i>
                        <span class='hidden-sm hidden-xs'>Servers</span>
                    </router-link>
                </li>

                <template v-if='hasServers'>
                <li  :class="{disabled: status.cloning, active: isActive('history')}">
                    <router-link :to='{name: "projects.history"}'>
                        <i class="fa fa-history" aria-hidden="true"></i>
                        <span class='hidden-sm hidden-xs'>History</span>
                    </router-link>
                </li>

                <li :class="{active: isActive('configs')}">
                    <router-link :to='{name: "projects.configs"}'>
                        <i class="fa fa-cog" aria-hidden="true"></i>
                        <span class='hidden-sm hidden-xs'>Config</span>
                    </router-link>
                </li>

                <li :class="{active: isActive('scripts')}">
                    <router-link :to='{name: "projects.scripts"}'>
                        <i class="fa fa-file-code-o" aria-hidden="true"></i>
                        <span class='hidden-sm hidden-xs'>Scripts</span>
                    </router-link>
                </li>

                </template>

                <li :class="{active: isActive('details')}">
                    <router-link :to='{name: "projects.details"}'>
                        <i class="fa fa-file-code-o" aria-hidden="true"></i>
                        <span class='hidden-sm hidden-xs'>Project Info</span>
                    </router-link>
                </li>
            </ul>
        </div>
    </nav>

    <!-- Main Body -->
    <div class="container container-lg">
        <!-- tabs content -->
        <div class="tab-content col-md-12">
            <router-view :project='project' :deployment='deployment' :history='history' :loading='loading' />

            <!-- Cloning Status message -->
            <project-cloning :status='status' @reclone='cloneRepo'></project-cloning>
            <!-- Cloning Status message -->

        </div>
        <!-- End Tabs content -->

        <transition name='bottomup'>
            <div v-if='loading' class="btn btn-info btn-loading">
                Getting Project Data...
            </div>
        </transition>

        <!-- Cloning Status message -->
        <div class="container container-lg">
             <div class="col-md-12" v-if='deployment.deploying' v-cloak>
                <div class="panel panel-default">
                    <div class="pannel-nav navbar navbar-default navbar-static">
                        <div class='nav navbar-nav navbar-left'>
                            {{ deployingStatusMessage }}
                        </div>
                    </div>

                    <div class='panel-body'>
                        {{ deployingCurrentMessage }}
                    </div>
                </div>
            </div>
        </div>
        <!-- End Cloning Status message -->
    </div>
</div>