.w-100-px {
    width: 100px;
}

.w-150-px {
    width: 150px;
}

.w-200-px {
    width: 200px;
}

.w-250-px {
    width: 250px;
}

.w-300-px {
    width: 300px;
}

.btn-label {
    color: white;
    background: gray;
}