@import 'mixins';
@import 'colors';

.vf-modal-body > .loading {
    opacity: 0.5;
}

.vf-section-title {
    font-size: 1.4rem;
    padding-bottom: 5px !important;
}

.form-input {
    .auto-width {
        width: auto;
    }
    &.inline {
        textarea,
        label,
        select {
            display: inline-block;
            margin-right: 5px;
            margin-bottom: 5px;
        }
        label {
            font-size: 1.5em;
            font-weight: normal;
        }
    }
}

.project-info {
    .panel {
        min-height: 200px;
    }
}
.inline {
    display: inline-block;
    padding: 0 10px;
    &.header {
        font-size: 2em;
    }
}

.height-3x {
    height: 200px;
}

textarea {
    width: 100%;
    .sshkey {
        height: 30px;
    }
}

.script-variables {
    h4 {
        font-weight: bold;
        margin-bottom: 2px;
    }
    .form-group {
        .description {
            font-size: 80%;
            font-style: italic;
        }
    }
}

.container-lg {
    width: 98vw;
}

.container-lg {
    width: 98vw;
}

.modal-xl {
    width: 90vw;
}
.full {
    width: 100%;
}

.panel,
.navbar {
    border-radius: 0px;
}
.panel {
    .navbar {
        border: none;
    }
}
.nav {
    .fa {
        margin: 0 0.5em;
    }
}


.pannel-nav.navbar.navbar-default.navbar-static {
    padding: 1em;
    margin-bottom: 0px;

}

button.icon {
    border: none;
    background: transparent;
}