@import 'colors';

table.servers {
    .test {
        width: 20%;
        div {
            display: inline-block;
            margin-right: 5px;
        }
    }
}

.panel {
    &.full {
        min-height: 90vh;
    }
    .pin-right {
        float: right;
    }

    button.clear-form {
        background: none;
        border: none;
        padding: 0px;
        margin: 0px;
    }

    div.tick-1 {
        padding-right: 10px;
    }

    div.tick-2 {
        padding-right: 20px;
    }
}

div.btn-deploy {
    text-align: center;
}

.panel-body {
    table {
        width: 100%;
        td {
            padding: 15px;
        }
        .crunch {
            width: 15px;
        }
    }
    .deploy-messages {
        margin: 1em;
        li {
            font-size: 1.25em;
            list-style-type: none;
        }
    }
    .deploy-commits {
        display: inline-block;
        width: 100%;
        margin: 0, 10px;
        .commit-message {
            font-style: italic;
        }
        label {
            font-style: 2em;
            float: left;
            width: 100px;
        }
        select {
            width: 100%;
        }
        .right,
        .left {
            padding: 2em;
            margin: 5px;
            border: 1px solid lightgrey;
            border-radius: 2px;
            width: 48%;
        }
    }

    .right {
        float: right;
    }
    .left {
        float: left;
    }
}
