<div>
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <h4 v-if='loading' class="modal-title">
                <div class="pull-left sk-wave sk-anywhere sk-sm">
                    <div class="sk-rect sk-rect1"></div>
                    <div class="sk-rect sk-rect2"></div>
                    <div class="sk-rect sk-rect3"></div>
                    <div class="sk-rect sk-rect4"></div>
                    <div class="sk-rect sk-rect5"></div>
                </div>
                <div class="pull-left"> Getting Commit Data...</div>
            </h4>
            <h4 v-else class="modal-title">Deploy {{ server.name }}</h4>
        </div>

        <div class="modal-body">
            <div id='deployment' class='deployments'>
                <div class="row commit-selection">
                    <div class="col-md-12">
                        <div class='panel panel-default'>
                            <div class="panel-body tab-pane">
                                <div v-if='loaded' @click="getCommitDetails" class='refresh-spinner'>
                                    <span><em>Refresh</em><i class="fa fa-refresh" :class='{"fa-spin": loading}'></i></span>
                                </div>

                                <div class="form-group">
                                    <form-selectize v-model='fromCommit'
                                                    label="From Commit"
                                                    property='from_commit'
                                                    :options='selectCommits'>
                                    </form-selectize>
                                </div>

                                <div class="form-group">
                                    <form-selectize v-model='toCommit'
                                                    label="To Commit"
                                                    property='to_commit'
                                                    :options='selectCommits'>
                                    </form-selectize>
                                </div>

                                <div class="form-group">
                                    <input type="checkbox" id="entire_repo" v-model="deployEntireRepo">
                                    <label for="entire_repo">Deploy Entire Repo</label>
                                </div>

                            <hr/>
                                <h5 v-if='availableScripts.length'>Run these scripts this time.</h5>
                                <div class='form-group' v-for='(script, idx) in availableScripts'>
                                    <input type="checkbox" :id="'script-'+script.id" :value="script.id" v-model="scriptIds">
                                    <label :for="'script-'+script.id"> {{ script.description }}</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class='row'></div>

            <div class='row'>
                <div class="col-md-12">
                    <div class='btn-deploy' :class='{"loading": loading || deploying}'>
                        <button class="btn"
                                :class='buttonClass'
                                @click='deploy'
                                :disabled='disabled || deploying || loading'>
                            <i v-if='deploying' class="fa fa-spinner fa-spin"></i>
                            {{ buttonText }}
                        </button>
                    </div>
                </div>
            </div>

            <div class='row'>
                <div class="col-md-12">
                    <div class='form-group'>
                        <hr/>
                        <template v-if='primary_status'>
                            <h3 :class="['primary-status', { 'error': errors.length }]" >
                                {{ primary_status }}
                            </h3>
                        </template>
                    </div>

                    <div class="progress">
                        <div class="progress-bar" role="progressbar" :aria-valuenow="progress" aria-valuemin="0" aria-valuemax="100" :style='progressStyle'>
                            <span class="sr-only">{{ progress }}% Complete</span>
                        </div>
                    </div>

                    <div class='form-group message-container'>
                        <ul class='list-unstyled deploy-messages'>
                            <li v-for='message in messages' track-by="$index">
                                <h4>{{ message }}</h4>
                            </li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
