<div class="dropdown">
    <button class='icon' id="deploy-dropdown" type="button"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="fa fa-cloud-upload" aria-hidden="true"></i>
    </button>

    <ul class="dropdown-menu" aria-labelledby="deploy-dropdown">
        <li v-for='server in servers'>
            <a @click='getCommitDetails(server)'
               data-toggle="modal"
               data-target="#server-selector">{{ server.name }}
            </a>
        </li>
    </ul>

    <div class="deployments">
        <!-- Button HTML (to Trigger Modal) -->
        <!-- Modal HTML -->
        <div id="server-selector" class="modal fade">
            <div class="modal-dialog modal-lg modal-xl">
                <div v-if='loading' class="modal-content">
                    <div class='modal-body'>
                        <div class='loadingcontainer'>
                            <div class='loading'></div>
                            <p>Getting Commit Details</p>
                        </div>
                    </div>
                </div>

                <div v-else class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title">Depoy {{ currentServer.name }}</h4>
                    </div>

                    <div class="modal-body">
                        <div id='deployment'>
                            <div class="row commit-selection">
                                <div class="col-md-12">
                                    <div class='panel panel-default'>
                                            <div class="panel-body tab-pane">
                                                <div class="form-group">
                                                    <label>*From Commit</label>
                                                    <v-select
                                                        :value.sync="fromCommit"
                                                        :options="avaliableCommits">
                                                    </v-select>
                                                </div>

                                                <div class="form-group">
                                                    <label>*To Commit</label>
                                                    <v-select
                                                        :value.sync="toCommit"
                                                        :options="avaliableCommits">
                                                    </v-select>
                                                </div>

                                                <div class="form-group">
                                                    <label for="entire_repo">Deploy Entire Repo</label>
                                                    <input type="checkbox" id="entire_repo" v-model="deployEntireRepo">
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class='row'>
                            </div>
                            <div class='row'>
                                <div class="col-md-12">
                                    <div class='btn-deploy'>
                                        <button class="btn btn-primary"
                                                @click='deploy'
                                                :disabled='deploying'>
                                            <i v-if='deploying' class="fa fa-spinner fa-spin"></i>
                                            {{ deploying ? "Deploying..." : "Deploy Now" }}
                                        </button>
                                    </div>
                                </div>
                            </div>

                            <div class='row'>
                                <div class="col-md-12">

                                    <div class='form-group'>
                                        <hr/>
                                        <template v-if='primary_status'>
                                            <h3 v-bind:class="['primary-status, '{ 'error': errors.length }]" >
                                                {{ primary_status }}
                                            </h3>
                                        </template>
                                    </div>

                                    <div class='form-group'>
                                        <ul class='list-unstyled deploy-messages'>
                                            <li v-for='message in messages'>
                                                <h4>{{{ message }}}</h4>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
