<div>
    <!-- Nav Bar  -->
    <nav class="navbar navbar-default navbar-nocollapse" >
        <div class='navbar-center'>
            <ul class="nav navbar-nav">
                <li class="active">
                    <a data-toggle="tab" href="#overview">
                        <i class="fa fa-dashboard" aria-hidden="true"></i>
                        <span class='hidden-sm hidden-xs'>Overview</span>
                    </a>
                </li>

                <li :class="{disabled: status.cloning}">
                    <a data-toggle="tab" href="#servers">
                        <i class="fa fa-server" aria-hidden="true"></i>
                        <span class='hidden-sm hidden-xs'>Servers</span>
                    </a>
                </li>

                <template v-if='hasServers'>
                <li :class="{disabled: status.cloning}">
                    <a data-toggle="tab" href="#history">
                        <i class="fa fa-history" aria-hidden="true"></i>
                        <span class='hidden-sm hidden-xs'>History</span>
                    </a>
                </li>

                <li>
                    <a data-toggle="tab" href="#config">
                        <i class="fa fa-cog" aria-hidden="true"></i>
                        <span class='hidden-sm hidden-xs'>Config</span>
                    </a>
                </li>
                <li>
                    <a data-toggle="tab" href="#scripts">
                        <i class="fa fa-file-code-o" aria-hidden="true"></i>
                        <span class='hidden-sm hidden-xs'>Scripts</span>
                    </a>
                </li>
                </template>

                <li>
                    <a data-toggle="tab" href="#project">
                        <i class="fa fa-rocket" aria-hidden="true"></i>
                        <span class='hidden-sm hidden-xs'>Project Info</span>
                    </a>
                </li>
                <li>
                    <a data-toggle="tab" href="#delete">
                        <i class="fa fa-trash" aria-hidden="true"></i>
                        <span class='hidden-sm hidden-xs'>Danger Zone</span>
                    </a>
                </li>
            </ul>
        </div>
    </nav>

    <!-- Main Body -->
    <div class="container container-lg">
        <!-- tabs content -->
        <div class="tab-content col-md-12">

            <!-- Cloning Status message -->
            <project-cloning :status='status' @reclone='cloneRepo'></project-cloning>
            <!-- Cloning Status message -->

            <!-- Overview -->
            <div class='tab-pane active' id='overview'>
                <div>
                    <project-info :project='project' :deployment='deployment' :loading='loading'></project-info>
                </div>
            </div>
            <!-- End Overview -->

            <!-- Servers -->
            <div v-if='project.id' class="tab-pane" id="servers">
                <servers :servers='project.servers'
                         :project-id='project.id'
                         :deploying='deployment.deploying'
                         :messages='deployment.messages'>
                </servers>
            </div>
            <!-- End Servers -->

            <!-- History -->
            <div v-if='project.id' id='history' class="tab-pane fade">
                <history :history='project.history'
                         :project-id='project.id'>
                </history>
            </div>
            <!-- End History -->

            <!-- Configuration Files -->
            <div v-if='project.id' id='config' class="tab-pane fade">
                <configs :configs='project.configs'
                         :project-id='project.id'>
                </configs>
            </div>
            <!-- End Configuration Files -->

            <!-- Install Scripts -->
            <div v-if='project.id' id='scripts' class="tab-pane fade">
                <scripts :scripts='project.scripts'
                         :project-id='project.id'>
                </scripts>
            </div>
            <!-- End Install Scripts -->

            <!-- Project Form -->
            <div v-if='project.id' id='project' class="tab-pane" :class="[ project.id ? 'fade': 'active']">
                <div class='panel panel-default'>
                    <div class="panel-body">
                        <form-text v-model='project.name' property='name' :errors='formErrors'></form-text>
                        <form-text v-model='project.repo' property='repo' :errors='formErrors'></form-text>
                        <form-text v-model='project.branch' property='branch' :errors='formErrors'></form-text>

                        <form-checkbox v-model='project.send_slack_messages' property='send_slack_messages' :errors='formErrors'></form-checkbox>

                        <form-text v-model='project.slack_webhook_url' property='slack_webhook_url' :errors='formErrors'></form-text>

                        <div class='pin-right projects'>
                            <div class="btn-toolbar">
                                <form-save-button :saving='saving' @save='saveProject'></form-save-button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Project Form -->

            <!-- Delete Area -->
            <div id="delete" class="tab-pane">
                <div class="panel panel-default">
                    <div class='panel-body'>
                        <div class='row row-centered'>
                            <div class='col-md-4 col-centered'>

                                <div class="form-group">
                                    <label class="control-label" for="name">Type the name of your project to delete</label>
                                    <input  v-model='confirm' type="text" name="name" class="form-control">
                                </div>

                                <button type="submit"
                                        @click='deleteProject()'
                                        class="btn btn-default btn-danger btn-delete"
                                        :disabled='deleting || (project.name !== confirm)'>
                                        <i v-if='deleting' class="fa fa-spinner fa-spin"></i>Delete
                                </button>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Delete Area -->
        </div>
        <!-- End Tabs content -->

        <transition name='bottomup'>
            <div v-if='loading' class="btn btn-info btn-loading">
                Getting Project Data...
            </div>
        </transition>

        <!-- Cloning Status message -->
        <div class="container container-lg">
             <div class="col-md-12" v-if='deployment.deploying' v-cloak>
                <div class="panel panel-default">
                    <div class="pannel-nav navbar navbar-default navbar-static">
                        <div class='nav navbar-nav navbar-left'>
                            {{ deployingStatusMessage }}
                        </div>
                    </div>

                    <div class='panel-body'>
                        {{ deployingCurrentMessage }}
                    </div>
                </div>
            </div>
        </div>
        <!-- End Cloning Status message -->
    </div>
</div>