<div>
    <table class='table'>
        <thead>
            <th>Path</th>
            <th class='crunch'>
               <a :href='getEndpoint("create")'>
                    <i class="fa fa-plus-circle" aria-hidden="true"></i>
                </a>
            </th>
        </thead>
        <tbody>
            <tr v-for="config in configs">
                <td>
                    <a :href='getEndpoint(config.id, "edit")' alt='edit'>
                        {{ config.path }}
                    </a>
                </td>
                <td>
                    <trash-button type='configs' :object='config'></trash-button>
                </td>
            </tr>
        </tbody>
    </table>
<div>